 /* Start Main Rulez */

 body {
    background-color: #F4F4F4;
    font-size: 16px;
 }

 /* End Main Rulez  */


 /* Start login form */


 .login {
    width: 300px;
    margin: 100px auto;
 }

 .login h4 {
    color: #888;
 }

 .login input {
    margin-bottom: 10px;
 }


 .login .From-control {
    background-color: #EAEAEA;
 }

 .login .btn {
    width: 100%;
    font-size: 18px;
    display: inline-block;
    margin: auto;
    border: none;
    background: #8005bd;
    border-radius: 20px;
    cursor: pointer;
    padding: 11px 25px;
 }


 /* End login form */


 /* Start bootStrap Edit */



 .navbar {
    border-radius: 0;
    margin-bottom: 0;

 }

 .nav-link {
    padding: 12px 11px;
 }




 /* End bootStrap Edit */




 /* Start Members Page */


 h1 {
    font-size: 40px;
    margin: 20px 0;
    font-weight: bold;
    color: #888;
 }
 .container {
   position: relative;
   left: 500px;
   top: 7px;
 }

 form .btn {
   width: 100%;
   font-size: 18px;
   margin: auto;
   background: #870fc4;
   border-radius: 20px;
   cursor: pointer;
   padding: 11px 25px;
   position: relative;
   top: 13px;
 }

 /* End  Members Page */